# Core functionality - changes here should be rare!
/src/app.py                   @dnnygmez11
/src/backend/database.py      @dnnygmez11
/src/backend/routers/auth.py  @dnnygmez11

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dnnygmez11
